body {
    font-family: monospace;
    background-color: #e7f3f9;
    padding: 20px;
}
.products {
    background: white;
    padding: 25px;
    border-radius: 8px;
}
input, button {
    display: block;
    margin-top: 10px;
    padding: 8px;
}
button {
    background-color: #2196f3;
    color: white;
    border: none;
}
